<mat-dialog-content class="text-center text-xl font-semibold mt-5">
    <p class="whitespace-pre-line">{{data.question}}</p>
</mat-dialog-content>

<div class="justify-center flex mb-5 mt-12">
    <div><button *ngIf="data.noStr" mat-button mat-dialog-close
            class="bg-white text-[#1d2738] border-solid border-2 border-[#1d2738] ml-auto h-10 w-40 mr-2"
            (click)="no()">{{data.noStr}}</button></div>
    <div><button *ngIf="data.yesStr" mat-button mat-dialog-close class="bg-[#1d2738] text-white mr-auto h-10 w-40 ml-2"
            (click)="yes()">{{data.yesStr}}</button></div>


</div>