<div id="wrapper" class="h-screen bg-[#0a1422]">
  <div class="h-[10%] bg-[#3f3f3f] flex justify-evenly">
    <div class="h-full w-[30%] bg-[#595959]"></div>
    <div class="h-full w-[30%] bg-[#595959]"></div>
    <div class="h-full w-[33%] bg-[#595959] relative">
      <div class="absolute left-0 top-0 bg-[#0a1422] h-full w-[60px] border-x-[10px] border-[#cf0534]"></div>
    </div>
  </div>
  <div class="h-[80%] columns-3 flex justify-evenly">
    <div class="h-full w-[30%]"></div>
    <div class="h-full w-[30%]"></div>
    <div class="h-full w-[33%] relative pl-[60px]">
      <div class="absolute left-0 top-0 bg-[#0a1422] h-full w-[60px] border-x-[10px] border-[#d80f38] z-99"></div>
      <div class="h-full w-full border-y-[30px] border-[#1e2739] grid grid-cols-1 content-center">
        <img src="/assets/img/logo.png" alt="" srcset="" class="mx-auto">
        <input [(ngModel)]="user.username" type="text" name="" id=""
          class="w-[200px] mx-auto mt-[50px] h-[40px] rounded-full p-3" placeholder="USERNAME">
        <input [(ngModel)]="user.password" type="password" name="" id=""
          class="w-[200px] mx-auto mt-[30px] h-[40px] rounded-full p-3" placeholder="PASSWORD">
        <div class="mx-auto">
          <button type="button"
            class="bg-[#d80f38] text-white text-xl py-3 px-10 rounded-full mt-[50px] hover:bg-[#c70d33]"
            (click)="login(user)">L O G I
            N</button>
        </div>
        <div class="mx-auto mt-[20px]"><a href="" class="text-white underline">REGISTER NOW</a>&nbsp;<img
            src="/assets/img/whatsapp.png" alt="" class="w-[20px] h-[20px] inline-block"></div>
      </div>
    </div>
  </div>
  <div class="h-[10%] bg-[#3f3f3f] flex justify-evenly">
    <div class="h-full w-[30%] bg-[#595959]"></div>
    <div class="h-full w-[30%] bg-[#595959]"></div>
    <div class="h-full w-[33%] bg-[#595959] relative">
      <div class="absolute left-0 top-0 bg-[#0a1422] h-full w-[60px] border-x-[10px] border-[#cf0534]"></div>
    </div>
  </div>
</div>