<div id="wrapper" class="h-screen bg-[#0a1422]">
    <div *ngIf="showAds" class="h-[10%] bg-[#3f3f3f] flex justify-evenly">
        <div class="h-full w-[30%] bg-[#595959]"></div>
        <div class="h-full w-[30%] bg-[#595959]"></div>
        <div class="h-full w-[33%] bg-[#595959] relative">

        </div>
    </div>
    <div class="h-[80%] columns-3 flex justify-evenly">

        <button (click)="loggout()">loggout</button>

    </div>
    <div *ngIf="showAds" class="h-[10%] bg-[#3f3f3f] flex justify-evenly">
        <div class="h-full w-[30%] bg-[#595959]"></div>
        <div class="h-full w-[30%] bg-[#595959]"></div>
        <div class="h-full w-[33%] bg-[#595959] relative">

        </div>
    </div>
</div>