<div id="wrapper" class="h-screen w-screen bg-[#0a1422]">
    <div class="w-[5%] h-screen bg-[#1d2738] float-left grid grid-cols-1 content-between">
        <div>
            <div class="h-[100px] py-[30px]"><img src="/assets/img/logo.png" alt="" srcset="" class=""></div>
            <div class="rounded-full border-[#0d1725] h-[50px] w-[50px] text-white border-solid border-[1px] mx-auto mb-[20px] justify-center flex items-center cursor-pointer hover:text-[#0d1725] hover:bg-white overflow-hidden" *ngFor="let segment of listSegment"><img src="data:image/png;base64, {{segment.base64}}" class="w-[50px] h-[50px] object-cover" alt="" srcset=""></div>
        </div>
        <div class="rounded-full h-[50px] w-[50px] text-white border-solid mx-auto mb-[20px] justify-center flex items-center cursor-pointer bg-[#d80f38] hover:bg-[#c70d33]" (click)="loggout()"><a title="Log Out"><img src="/assets/img/power-off.png" alt="Log Out" srcset="" class="w-[30px] h-[30px]"></a></div>
    </div>
    <div class="w-[95%] h-screen float-right">
        <div class="h-[90%]">
            <div class="flex justify-between h-[100px] pr-[30px]">
                <div class="text-white bg-[#141e2d] pl-[30px] py-[30px] pr-[200px] text-2xl relative before:content-[''] before:absolute before:top-0 before:right-0 before:border-t-[100px] before:border-t-[#141e2d] before:border-r-[100px] before:border-r-[#0a1422] before:w-0" *ngIf="this.session == 'USER'">Welcome back ___, you have __ points</div>
                <div class="text-white bg-[#141e2d] pl-[30px] py-[30px] pr-[200px] text-2xl relative before:content-[''] before:absolute before:top-0 before:right-0 before:border-t-[100px] before:border-t-[#141e2d] before:border-r-[100px] before:border-r-[#0a1422] before:w-0" *ngIf="this.session == 'ADMIN'">Admin Panel</div>
                <div class="bg-[#d80f38] w-[200px] rounded-full h-[50px] my-[25px] relative">
                    <div class="absolute bg-[#1d2738] w-[200px] rounded-full h-[50px] left-[-80px] text-white"><img src="/assets/img/scroll.png" class="w-[30px] h-[30px] inline-block ml-[30px] my-[10px] mr-[10px]" alt="" srcset="">H I S T O R Y</div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="showAds" class="h-[10%] bg-[#3f3f3f] flex justify-evenly">
            <div class="h-full w-[30%] bg-[#595959]"></div>
            <div class="h-full w-[30%] bg-[#595959]"></div>
            <div class="h-full w-[30%] bg-[#595959] relative"></div>
        </div>
    </div>
</div>