<div id="wrapper" class="h-screen bg-[#0a1422]">
  <div class="h-[10%] bg-[#3f3f3f] flex justify-evenly">
    <div class="h-full w-[31%] bg-[#595959]">01</div>
    <div class="h-full w-[31%] bg-[#595959]">01</div>
    <div class="h-full w-[31%] bg-[#595959]">01</div>
  </div>
  <div class="h-[80%] columns-3">
  </div>
  <div class="h-[10%] bg-[#3f3f3f] flex justify-evenly">
    <div class="h-full w-[31%] bg-[#595959]">01</div>
    <div class="h-full w-[31%] bg-[#595959]">01</div>
    <div class="h-full w-[31%] bg-[#595959]">01</div>
  </div>
</div>
