<div class="h-[80%] flex justify-items-center items-center grid grid-cols-4">
    <a [routerLink]="['/admin/user']">
    <div class="w-[300px] h-[200px] 2xl:w-[350px] 2xl:h-[250px] bg-[#1d2738] rounded-3xl py-[30px] my-0">
        <div class="w-full h-full bg-[#111b2b] flex text-white">
            <div class="w-full h-full flex justify-center items-center flex-col">
                <div class="text-sm mb-[30px]">U S E R</div>
                <img src="/assets/img/user.png" alt="" srcset="" class="w-[50px] h-[50px] object-contain">
            </div>
        </div>
    </div>
    </a>
    <a [routerLink]="['/admin/game']">
    <div class="w-[300px] h-[200px] 2xl:w-[350px] 2xl:h-[250px] bg-[#1d2738] rounded-3xl py-[30px] my-0">
        <div class="w-full h-full bg-[#111b2b] flex text-white">
            <div class="w-full h-full flex justify-center items-center flex-col">
                <div class="text-sm mb-[30px]">G A M E</div>
                <img src="/assets/img/match.png" alt="" srcset="" class="w-[50px] h-[50px] object-contain">
            </div>
        </div>
    </div>
    </a>
    <a [routerLink]="['/admin/segment']">
    <div class="w-[300px] h-[200px] 2xl:w-[350px] 2xl:h-[250px] bg-[#1d2738] rounded-3xl py-[30px] my-0">
        <div class="w-full h-full bg-[#111b2b] flex text-white">
            <div class="w-full h-full flex justify-center items-center flex-col">
                <div class="text-sm mb-[30px]">S E G M E N T</div>
                <img src="/assets/img/segment.png" alt="" srcset="" class="w-[50px] h-[50px] object-contain">
            </div>
        </div>
    </div>
    </a>
    <a [routerLink]="['/admin/team']">
    <div class="w-[300px] h-[200px] 2xl:w-[350px] 2xl:h-[250px] bg-[#1d2738] rounded-3xl py-[30px] my-0">
        <div class="w-full h-full bg-[#111b2b] flex text-white">
            <div class="w-full h-full flex justify-center items-center flex-col">
                <div class="text-sm mb-[30px]">T E A M</div>
                <img src="/assets/img/team.png" alt="" srcset="" class="w-[50px] h-[50px] object-contain">
            </div>
        </div>
    </div>
    </a>
</div>