.radio-toolbar {
    /* margin: 10px; */
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar .left {
      display: inline-block;
      background-color: #1d2738;
      padding: 20px 50px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border-radius: 50px 0px 0px 50px;
  }
  
  .radio-toolbar .right {
      display: inline-block;
      background-color: #1d2738;
      padding: 20px 50px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border-radius: 0 50px 50px 0;
  }
  
  .radio-toolbar .middle {
      display: inline-block;
      background-color: #1d2738;
      padding: 20px 50px;
      font-family: sans-serif, Arial;
      font-size: 16px;
  }
  
  .radio-toolbar label:hover {
    background-color: #d80f38; cursor: pointer;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #d80f38;
  }
  
  .radio-toolbar input[type="radio"]:disabled + label {
      background-color: #141b27;
      color: #1d2738;
      cursor: not-allowed;
  }